alembic==1.13.1
arabic-reshaper==3.0.0
Babel==2.14.0
bcrypt==4.1.3
bidict==0.23.1
bitarray==2.9.2
blinker==1.8.2
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
docutils==0.21.2
docx==0.2.4
et-xmlfile==1.1.0
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-Script==2.0.6
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
fpdf==1.7.2
gcloud==0.18.3
googleapis-common-protos==1.63.0
greenlet==3.0.3
h11==0.14.0
httplib2==0.22.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
jws==0.1.3
lxml==5.1.0
Mako==1.3.5
MarkupSafe==2.1.5
oauth2client==4.1.3
openpyxl==3.1.2
pdfkit==1.0.0
pdfreader==0.1.12
pillow==10.2.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycryptodome==3.20.0
Pygments==2.18.0
pyparsing==3.1.2
PyPDF2==3.0.1
pypiwin32==223
Pyrebase4==4.8.0
python-bidi==0.4.2
python-dateutil==2.9.0.post0
python-docx==1.1.0
python-engineio==4.9.1
python-jwt==2.0.2
python-pptx==0.6.23
python-socketio==5.11.2
pywin32==306
reportlab==4.1.0
requests==2.32.2
requests-toolbelt==0.10.1
rsa==4.9
setuptools==70.0.0
simple-websocket==1.0.0
six==1.16.0
SQLAlchemy==2.0.30
tkcalendar==1.6.1
tkinterdnd2==0.3.0
ttkthemes==3.2.2
typing_extensions==4.10.0
urllib3==1.26.18
Werkzeug==3.0.3
wsproto==1.2.0
XlsxWriter==3.2.0
